include README.rst
include LICENSE
include MANIFEST.in
recursive-include nadmin/locale *
recursive-include nadmin/static/nadmin/css *
recursive-include nadmin/static/nadmin/js *
recursive-include nadmin/static/nadmin/vendor *
recursive-include nadmin/templates *